.pride-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/pride-pros.jpg);
}

.masonry-grid {
    display: grid;
    gap: 16px; /* Adjust as needed */
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  
  .masonry-grid img {
    width: 100%;
    height: auto;
  }
  